<h1>Listing super_categories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @super_categories.each do |super_category| %>
  <tr>
    <td><%= super_category.title %></td>
    <td><%= super_category.order %></td>
    <td><%= link_to 'Show', super_category %></td>
    <td><%= link_to 'Edit', edit_super_category_path(super_category) %></td>
    <td><%= link_to 'Destroy', super_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Super category', new_super_category_path %>
