<h1>Listing headings</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @headings.each do |heading| %>
  <tr>
    <td><%= heading.title %></td>
    <td><%= heading.order %></td>
    <td><%= link_to 'Show', heading %></td>
    <td><%= link_to 'Edit', edit_heading_path(heading) %></td>
    <td><%= link_to 'Destroy', heading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Heading', new_heading_path %>
